.DS_Store

html/*

cgi-bin/*

.well-known/*
.htaccess

application/cache/*
!application/cache/index.html

application/config/database.php
application/config/config.php
application/config/constants.php

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
.history/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


# Chat Module
chat/application/cache/*
!chat/application/cache/index.html

chat/application/logs/*
!chat/application/logs/index.html

!chat/application/*/.htaccess

chat/chat_app_main/*
chat/ChatApp/node_modules/*
chat/vendor/*
chat/composer.lock
chat/package-lock.json
chat/vendor/*
chat/ChatApp/composer.lock
chat/ChatApp/package-lock.json
chat/ChatApp/databaseConfig.js
chat/application/config/database.php