.btn-anchor {
    color: #fff !important;
    text-decoration: none !important;
}

.txtwhite {
    color: #fff !important;
}
label.error{
    color: red;
    font-size: small;
}

.register-block .login-dropdown a.btn i{
    opacity: 1;
}


.register-block .login-dropdown a.btn.profile-class:hover{
    color: #4a5566 !important
}


.round { border-radius: 50%; }

.pull-left{
    float: left;
}
.acc-mail-content .toggle .btn.toggle-on {
    padding: 6px 18px 0 5px;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.toggle .btn.toggle-on{
    padding: 3px 18px 0 5px;
}
.toggle .btn.btn-default{
    padding: 3px 5px 0 18px;
}
.acc-mail-content .toggle .btn.btn-default {
    padding: 6px 5px 0 18px;
}   

.account-page .col-md-7 .account-content-block span.unverified-span {
    font-weight: 700;
    color: #fc0101;
    font-size: 13px;
}

.account-page .col-md-7 .account-content-block .acc-mail-content span.d-block i.fa-check-circle{
    color: #006600;
}
.account-page .col-md-7 .account-content-block .acc-mail-content span.d-block i.fa-times-circle{
    color: #fc0101;
}

.btn-transparent,button:focus{
    background: transparent;
    border: 0;
    outline: 0px;
}

.connected-sortable {
    margin: 0 auto;
    list-style: none;
}
li.draggable-item {
    width: inherit;
    padding: 15px 20px;
    background-color: #f5f5f5;
    -webkit-transition: transform 0.25s ease-in-out;
    -moz-transition: transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -webkit-transition: box-shadow 0.25s ease-in-out;
    -moz-transition: box-shadow 0.25s ease-in-out;
    -o-transition: box-shadow 0.25s ease-in-out;
    transition: box-shadow 0.25s ease-in-out;
}
li.draggable-item:hover {
    cursor: pointer;
    background-color: #eaeaea;
}
/* styles during drag */
li.draggable-item.ui-sortable-helper {
    background-color: #e5e5e5;
    -webkit-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
    -moz-box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
    box-shadow: 0 0 8px rgba(53, 41, 41, 0.8);
    transform: scale(1.015);
    z-index: 100;
}
li.draggable-item.ui-sortable-placeholder {
    background-color: #ddd;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.specialist-tab .form-control {
    width: 13.9rem!important;
}
.specialist-tab .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f8f9fa;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.input-group .input-group-addon {
    background: white;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .5rem;
}
.input-group .form-control {
    border-left: 0px;
    padding-left: 0px;
    background-color: white !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}




#specialistDetails{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#zipCodes{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.set_ul_to_main
{
    width: 100%;
    position: absolute;
    margin-top: 37px;
}
.set_ul_to
{
    background: white;
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}
.set_ul_to li{
    padding: 3%;
}

.set_ul_to li:hover {
    background: grey;
    color: azure;
}

.set_ul_to hr{
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.set_ul_to li:hover{
    background: grey;
}

@media screen and (min-width: 1400px) {
    .specialist-tab .form-control {
        width: 15.5rem!important;
    }

}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #e57125;
    background-color: #e57125;
}


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.50rem;
}

.clr-red{
    color: red !important;
}
.sidebar_stop{
    margin-bottom: 12px;
}
.sticky-wrapper #myTab{
    z-index: 50 !important;
}
#sticky_sidebar.is-affixed .stick_150{
    left: auto !important;
}
#myTab .nav-item.active a.nav-link {
    color: #e57125 !important;
}
#myTab li.nav-item.active {
    background-color: #f3f3f4;
}
#myTab li.active > a > span {
    padding-bottom: 1px;
    border-bottom: 2px solid #E67F3B;
}

#profilePopup .modal-dialog.modal-lg {
    max-width: 80rem;
}

#profilePopup .specia-pro-view h1 {
    margin-top: 0px;
}

#profilePopup .modal-header {
    padding-bottom: 0px;
    border-bottom: 0px;
}


.media a {
    cursor: pointer;
}

#loginModel .modal-dialog {
    max-width: 500px;
}

#loginModel .modal-content form > .form-group label {
 text-align: left;
}

button.btn:focus {
    background: #4a5566;
    border: 0;
    outline: 0px;
}

#loginModel .modal-content form > .form-group .form-control {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.account-page aside .card-body ul li:hover {
    background: #34495E;
    border-radius: 5px;
}

.full-width{
    float:left;width:100%;min-height:40px;position:relative;
}
.form-style-fake{position:absolute;top:0px;padding-left:2rem;text-overflow: ellipsis;}
.form-style-base{position:absolute;top:0px;z-index: 999;opacity: 0;}
.input-place{position: absolute;top: 0.7rem;left: 0.8rem;font-size: 15px;color: gray;}
.exampleModal .modal-content form > .form-group label.error{
    text-align: left;
}
label.custom-control-label.customControlAutosizing2 {
    width: 10rem;
}

.area-of-expertise-block.d-inline-block ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.area-of-expertise-block.d-inline-block ul li{
    margin-right: 7rem;
}

.txtarea-all-details{
    position: absolute;
    line-height: 0.8rem;
}
.specia-pro-view p a{
    display: inline;
}
.morecontent span {
    display: none;
}
.morelink {
    display: block;
}