.btn-anchor {
    color: #fff !important;
    text-decoration: none !important;
}

.txtwhite {
    color: #fff !important;
}
label.error{
    color: red;
    font-size: small;
}

.register-block .login-dropdown a.btn i{
    opacity: 1;
}


.register-block .login-dropdown a.btn.profile-class:hover{
    color: #4a5566 !important
}


.round { border-radius: 50%; }

.pull-left{
    float: left;
}
.toggle .btn.toggle-on {
    padding: 6px 18px 0 5px;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.toggle .btn.btn-default {
    padding: 6px 5px 0 18px;
}   

.account-page .col-md-7 .account-content-block span.unverified-span {
    font-weight: 700;
    color: #fc0101;
    font-size: 13px;
}

.account-page .col-md-7 .account-content-block .acc-mail-content span.d-block i.fa-check-circle{
    color: #006600;
}
.account-page .col-md-7 .account-content-block .acc-mail-content span.d-block i.fa-times-circle{
    color: #fc0101;
}