@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800");
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/*-------- Font family & Comman Bgcolor Variable--------*/
/*-------- Body Variable --------*/
/*-------------- Generic Css Starts --------------*/
/* Background Color & Text Color */
.bg-primary { background-color: #e57125 !important; }

.bg-secondary { background-color: #4a5566 !important; }

.text-primary { color: #e57125 !important; }

.text-secondary { color: #4a5566 !important; }

/*-------------- Generic Css Ends --------------*/
body { font-family: "Open Sans", sans-serif; font-weight: 400; color: #777; font-size: 16px; line-height: 20px; background-color: #f3f3f4; width: 100%; }

a { color: #777; }
a:hover { text-decoration: none; color: #e57125; }

.dropdown-menu { border-radius: 0; }
.dropdown-menu .dropdown-item { border-radius: 0; }

.btn.focus, .btn:focus { box-shadow: none; }

.img-res { max-width: 100%; height: auto; }

h1 { font-size: 2.06rem; }

.btn-link { color: #777; }
.btn-link:hover { text-decoration: none; color: #e57125; }

.btn-primary { background-color: #e57125; border-color: #e57125; color: #fff; }
.btn-primary.disabled, .btn-primary:disabled { background-color: #e57125; border-color: #e57125; color: #fff; }
.btn-primary:hover { background-color: #4a5566; border-color: #4a5566; color: #fff; }

.btn-secondary { background-color: #4a5566; border-color: #4a5566; color: #fff; }
.btn-secondary.disabled, .btn-secondary:disabled { background-color: #4a5566; border-color: #4a5566; color: #fff; }
.btn-secondary:hover { background-color: #4a5566; border-color: #4a5566; color: #fff; }

.btn-default { background-color: #fff; }

@media (min-width: 1400px) { .container { max-width: 1230px; } }
/* Header CSS Starts */
.home header { z-index: 2; width: 100%; background: rgba(255, 255, 255, 0.8); }

header { z-index: 2; width: 100%; background: rgba(255, 255, 255, 0.8); }
header .navbar .navbar-toggler { color: #e57125; margin-left: 15px; padding: 2px 18px; border-radius: 8px; border: 1px solid #e57125; }
header .navbar .navbar-toggler span { font-size: 17px; line-height: normal; }
header .navbar .navbar-nav a { font-size: 16px; font-weight: 600; color: #4a5566; }
header .navbar .navbar-nav a:hover { color: #e57125; }
header .navbar-nav a { font-size: 12px; font-weight: 500; color: #4a5566; }
header .navbar-nav a:hover { color: #e57125; }
@media (max-width: 575px) { header .navbar-brand { display: none; } }

.register-block .login-dropdown a.btn { color: #e57125; }
.register-block .login-dropdown a.btn:after { display: none; }
.register-block .login-dropdown a.btn i { border-radius: 100%; color: #fff; background-color: #4f5d73; margin-right: 10px; font-size: 11px; padding: 5px; opacity: 0; }
.register-block .login-dropdown.show a.btn i { opacity: 1; }
.register-block .list-buis { background-color: #fff; border: 1px solid #e57125; color: #e57125; }
.register-block .list-buis:hover { background-color: #e57125; color: #fff; }

/* Header CSS Ends */
/* Main Slider CSS Starts */
.main-slider-block .owl-dots { margin-top: 0; position: absolute; right: 0; left: 0; bottom: 5px; }
.main-slider-block .owl-dots .owl-dot span { height: 15px; width: 15px; background: rgba(255, 255, 255, 0.8); }
.main-slider-block .owl-dots .owl-dot.active span { background-color: #e57125; }

.main-slider-tab-content { width: 100%; bottom: 30%; z-index: 1; }

@media (min-width: 992px) and (max-width: 1200px) { .main-slider-tab-content { bottom: 10%; } }
@media (max-width: 992px) { .main-slider-tab-content { bottom: 15%; } }
.main-slider-tab { background: rgba(0, 0, 0, 0.5); }
.main-slider-tab .nav-pills .nav-link.active, .main-slider-tab .nav-pills .show > .nav-link { background-color: transparent; border-bottom: 1px solid #e57125; }

@media (max-width: 768px) { .main-slider-tab-content { bottom: 9%; }
  .main-slider-tab-content h1 { font-size: 14px; }
  .specialist-tab .btn { margin-top: 10px; } }
@media (max-width: 575px) { .main-slider-tab-content { display: none; }
  .main-slider-tab-content h1 { display: none; }
  .main-slider-tab-content .btn { margin-top: -15px; } }
/* Main Slider CSS Ends */
/* How Can We Help Block CSS Starts */
.how-can-we-help { box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15); }
.how-can-we-help h5 { color: #4a5566; font-weight: 700; font-family: "PT Sans Narrow", sans-serif; }
.how-can-we-help h5 span { border-bottom: 2px solid #e57125; }
.how-can-we-help .right-content h4 { font-weight: 700; color: #e57125; }
.how-can-we-help .help-bottom-row h4 { color: #4a5566; }

/* How Can We Help Block CSS Ends */
footer { background-color: #4a5566; }
footer li { margin-bottom: 5px; }
footer li a { color: #fff; font-size: 14px; }
footer h5 { font-weight: 500; border-bottom: 1px solid #fff; padding-bottom: 10px; margin-bottom: 15px; }
@media (max-width: 768px) { footer .col-md-4 { text-align: center; } }
footer .footer-bottom { background-color: #333; }
footer .footer-bottom ul li { display: inline; }
footer .footer-bottom .footer-links ul li a { border-right: 1px solid #fff; padding: 0 15px; }
footer .footer-bottom .footer-links ul li:first-child a { padding-left: 0; }
footer .footer-bottom .footer-links ul li:last-child a { border-right: none; padding-right: 0; }
footer .footer-bottom .social-links { text-align: right; }
footer .footer-bottom .social-links ul li a { border-radius: 100%; text-align: center; height: 40px; width: 40px; background-color: #001a33; color: #8c8c8c; border: 3px solid #8c8c8c; display: inline-block; line-height: 33px; }
footer .footer-bottom .social-links ul li a:hover { color: #fff; border-color: #fff; }
@media (max-width: 768px) { footer .footer-bottom .col-md-6, footer .footer-bottom .social-links { text-align: center; } }

/*google button*/
.login-btn-block p { margin-bottom: 30px; }
.login-btn-block a { color: #e57125; cursor: pointer; }
.login-btn-block a:hover { text-decoration: underline; }
.login-btn-block h6 { color: #333; }
.login-btn-block h4 { font-family: "PT Sans", sans-serif; color: #4a5566; font-weight: 700; }
.login-btn-block h5 { color: #4a5566; font-weight: 600; }
.login-btn-block .form-group input { border-color: #e1e1e4; }
.login-btn-block .form-group input::placeholder { font-size: 13px; color: #999; }
.login-btn-block .form-check { color: #333; }

.btn-primary.btn-icon { padding: 11px; font-family: "Roboto", sans-serif; font-weight: 500; }
.btn-primary.btn-icon.google-btn { background-color: #4688f1; border-color: #4688f1; }
.btn-primary.btn-icon.google-btn:before { content: ""; position: absolute; left: 10px; background-image: url("../images/btn_google.svg"); background-repeat: no-repeat; background-position: center; width: 29px; height: 29px; top: 9px; }
.btn-primary.btn-icon.google-btn:active, .btn-primary.btn-icon.google-btn:focus { background-color: #4688f1; border-color: #4688f1; }
.btn-primary.btn-icon i { position: absolute; left: 10px; font-size: 33px; }
.btn-primary.btn-icon.fb-btn { background-color: #4267b2; border-color: #4267b2; }
.btn-primary.btn-icon.fb-btn i { top: 7px; }
.btn-primary.btn-icon.fb-btn:active, .btn-primary.btn-icon.fb-btn:focus { background-color: #4267b2; border-color: #4267b2; }
.btn-primary.btn-icon.envelope-btn { background-color: #4a5566; border-color: #4a5566; }
.btn-primary.btn-icon.envelope-btn i { top: 8px; }
.btn-primary.btn-icon.envelope-btn:active, .btn-primary.btn-icon.envelope-btn:focus { background-color: #4a5566; border-color: #4a5566; }

.account-page aside h3 { color: #e57125; font-family: "PT Sans Narrow", sans-serif; }
.account-page aside .card-body ul li { background: transparent; padding: 15px; font-size: 16px; }
.account-page aside .card-body ul li a i { margin-right: 15px; }
.account-page aside .card-body ul li.active, .account-page aside .card-body ul li:hover { background: #e57125; border-radius: 5px; }
.account-page aside .card-body ul li.active a, .account-page aside .card-body ul li:hover a { color: #fff; }
.account-page .col-md-7 .card-header { border-bottom: 2px solid #e57125; }
.account-page .col-md-7 .card-header h5 { font-weight: 600; color: #5e5e5e; }
.account-page .col-md-7 .card-header h5 a { position: absolute; right: 0; cursor: pointer; }
.account-page .col-md-7 .account-content-block h5 { color: #333; font-weight: 600; }
.account-page .col-md-7 .account-content-block span.verified-span { font-weight: 700; color: #006600; font-size: 13px; }
.account-page .col-md-7 .account-content-block span.verified-span i { font-size: 14px; }
.account-page .col-md-7 .account-content-block .acc-mail-content span { margin-bottom: 10px; }
.account-page .col-md-7 .account-content-block .acc-mail-content span i { font-size: 20px; }
.account-page .col-md-7 .account-content-block .acc-mail-content span:nth-child(1) i { color: #006600; }
.account-page .col-md-7 .account-content-block .acc-mail-content span:nth-child(2) i { color: #fc0101; }
.account-page .col-md-7 .account-content-block .acc-pass-sec-content i { font-size: 25px; }
.account-page .col-md-7 .account-content-block .acc-pass-sec-content h6 { margin-bottom: 0; font-weight: 600; }
.account-page .col-md-7 .account-content-block .acc-pass-sec-content p { font-size: 12px; }
.account-page .col-md-7 .account-content-block .acc-pass-sec-content .pass-block i { color: #006600; }
.account-page .col-md-7 .account-content-block .acc-pass-sec-content .sec-block i { color: #fc0101; }
.account-page .pass-sec-edit h6 { color: #e57125; font-weight: 600; }
.account-page .pass-sec-edit p { font-size: 11px; line-height: initial; margin-top: 5px; }
.account-page .pass-sec-edit .form-group label { font-size: 14px; }
.account-page .pass-sec-edit .form-check-label { font-size: 14px; }

.my-bis-pro .card-header .nav { width: auto; margin-left: auto; }
.my-bis-pro .card-header .nav .nav-item { position: relative; margin-right: 15px; }
.my-bis-pro .card-header .nav .nav-item .nav-link { padding-left: 0; padding-right: 0; }
.my-bis-pro .card-header .nav .nav-item .nav-link:before { content: ''; background: #e57125; height: 3px; width: 100%; position: absolute; left: 0; bottom: 0; opacity: 0; }
.my-bis-pro .card-header .nav .nav-item .nav-link.active:before { opacity: 1; }
.my-bis-pro .card-header .nav .nav-item:last-child { margin-right: 0; }

.chk-box-block .form-group { margin-bottom: 0; }
.chk-box-block .form-check-label { font-size: 13px; }

.abt-us-tab p { font-size: 12px; margin-bottom: 0; }

.fee-tab h5 { font-weight: 600; color: #e57125; }
.fee-tab h6 { font-weight: 600; font-size: 14px; color: #222; }
.fee-tab i { font-size: 20px; }
.fee-tab p { font-size: 14px; margin: 20px 0 15px; }
.fee-tab label { font-size: 13px; margin-bottom: 5px; }

.toggle.btn { min-height: 25px; border-color: #3ac47d; cursor: pointer; margin-left: 5px; }
.toggle.off { border-color: #d92550; }
.toggle .btn { font-size: 14px; padding: 0 12px; color: #fff; text-transform: capitalize; cursor: pointer; margin-bottom: 0; }
.toggle .btn.toggle-on { padding: 0 18px 0 5px; background-color: #3ac47d; border-color: #3ac47d; }
.toggle .btn.toggle-off { padding: 0 5px 0 18px; background-color: #d92550; border-color: #d92550; }
.toggle .btn.btn-default { padding: 0 5px 0 18px; }

.fee-tab .toggle.btn { min-height: 28px; }

.form-top-row i { color: #3ac47d; }

.fee-bottom-block .form-row { margin-bottom: 7px; }
.fee-bottom-block .form-row i { color: #ff0000; }
.fee-bottom-block .row { background: #f2f2f2; border: 1px solid #c8c8c8; padding: 10px 15px; color: #333; }
.fee-bottom-block .row label { margin-bottom: 0; font-size: 14px; }

.select2-outer-div { width: 100%; }
.select2-outer-div .select2 { width: 100% !important; }
.select2-outer-div .select2-container--default.select2-container--focus .select2-selection--multiple { border: 1px solid #aaa; }
.select2-outer-div .select2-container--default .select2-selection--multiple { border: 1px solid #ced4da; min-height: 38px; }
.select2-outer-div .select2-container--default .select2-selection--multiple .select2-selection__choice { background-color: #e0f3ff; border: 1px solid #94d5ff; color: #222; margin-top: 6px; }
.select2-outer-div .select2-container--default .select2-selection--multiple .select2-selection__choice span { color: #222; }

/*---------------------- Specialist Profile View CSS Starts ----------------------*/
.specia-pro-view { font-size: 14px; background-color: #fff; }
.specia-pro-view header { background-image: url("../images/head.png"); background-attachment: fixed; background-color: #fff; }
.specia-pro-view .sticky { position: fixed; top: 0; }
.specia-pro-view .left-col-block-inner.sticky { width: 380px; }
@media (max-width: 1200px) { .specia-pro-view .left-col-block-inner.sticky { width: 289px; } }
@media (max-width: 768px) { .specia-pro-view .left-col-block-inner.sticky { position: static; width: 100%; } }
.specia-pro-view .nav-tabs.sticky { width: 790px; z-index: 2; }
@media (max-width: 1200px) { .specia-pro-view .nav-tabs.sticky { width: 610px; } }
@media (max-width: 992px) { .specia-pro-view .nav-tabs.sticky { width: 690px; } }
@media (max-width: 768px) { .specia-pro-view .nav-tabs.sticky { width: 510px; } }
@media (max-width: 576px) { .specia-pro-view .nav-tabs.sticky { width: 291px; } }
.specia-pro-view .bg-light { background-color: #f3f3f4 !important; }
.specia-pro-view .card { border-radius: 5px; }
.specia-pro-view .shadow_card { box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) !important; }
.specia-pro-view p a { color: #e57125; display: block; margin-top: 5px; }
.specia-pro-view h1 { color: #4a5566; font-size: 28px; margin-top: 65px; }
.specia-pro-view .tab-content { color: #333; border-radius: 0 0 5px 5px; }
.specia-pro-view .tab-content .card { border-color: #c9c9ca; }
.specia-pro-view .rating-block { color: #e57125; }
@media (max-width: 768px) { .specia-pro-view .left-col-block { margin-bottom: 30px; } }
@media (max-width: 992px) { .specia-pro-view .left-col-block .media { display: block; } }
@media (max-width: 576px) { .specia-pro-view .left-col-block .media { display: block; } }
.specia-pro-view .left-col-block .media .profile-user-img { position: relative; display: inline-block; }
@media (max-width: 992px) { .specia-pro-view .left-col-block .media .profile-user-img { margin-bottom: 20px; } }
.specia-pro-view .left-col-block .media .profile-user-img:after { content: ""; background-image: url("../images/ribbon.png"); position: absolute; right: 18px; bottom: 0; width: 33px; height: 47px; }
@media (max-width: 992px) { .specia-pro-view .left-col-block .media .profile-user-img:after { right: 4px; bottom: -10px; } }
.specia-pro-view .left-col-block .media img { border-radius: 100%; }
@media (max-width: 1200px) { .specia-pro-view .left-col-block .media img { width: 80px; } }
@media (max-width: 768px) { .specia-pro-view .left-col-block .media img { width: auto; } }
.specia-pro-view .left-col-block .media .media-body h5 { color: #4a5566; font-weight: 700; }
.specia-pro-view .left-col-block .media .media-body .review-block .review-txt { color: #008cc9; margin-left: 15px; }
.specia-pro-view .left-col-block .media .media-body .profile-add { color: #020202; }
.specia-pro-view .left-col-block .media .media-body .profile-add h6 { font-weight: 600; }
.specia-pro-view .left-col-block .media .media-body .btn { font-weight: 500; padding: 3px 20px; align-items: center; display: flex; }
@media (max-width: 1366px) { .specia-pro-view .left-col-block .media .media-body .btn { font-size: 14px; } }
@media (max-width: 1200px) { .specia-pro-view .left-col-block .media .media-body .btn { padding: 3px 10px; } }
.specia-pro-view .left-col-block .media .media-body .btn i { margin-right: 15px; font-size: 17px; }
.specia-pro-view .left-col-block .profile-bot-top i { margin-right: 10px; font-size: 15px; }
.specia-pro-view .left-col-block .profile-bot-top .pro-midd-left i { color: #009933; }
@media (max-width: 1200px) { .specia-pro-view .left-col-block .profile-bot-top .pro-midd-left li { font-size: 11px; } }
.specia-pro-view .left-col-block .profile-bot-top .pro-midd-left li:first-child { font-weight: 600; color: #009933; margin-bottom: 5px; }
.specia-pro-view .left-col-block .profile-bot-top .pro-midd-left li:last-child { color: #008cc9; }
.specia-pro-view .left-col-block .profile-bot-top .pro-midd-left li:last-child i { margin-left: 3px; margin-right: 14px; }
.specia-pro-view .left-col-block .profile-bot-top .prof-midd-right li { margin-bottom: 5px; color: #008cc9; }
@media (max-width: 1200px) { .specia-pro-view .left-col-block .profile-bot-top .prof-midd-right li { font-size: 11px; } }
.specia-pro-view .left-col-block .profile-bot-top .prof-midd-right li:first-child { color: #020202; }
.specia-pro-view .left-col-block .profile-bot-top .prof-midd-right li:first-child i { color: #009933; }
.specia-pro-view .left-col-block .profile-bot-top .prof-midd-right li:last-child { margin-bottom: 0; }
.specia-pro-view .left-col-block .profile-bot-botom li { display: inline-block; background-color: #4a5566; color: #fff; padding: 3px 10px; margin-bottom: 10px; margin-right: 5px; }
.specia-pro-view .left-col-block .profile-bot-botom li:last-child { margin-right: 0; }
.specia-pro-view .right-col-block .nav-tabs { border-bottom: none; background: #4a5566; border-radius: 6px 6px 0 0; }
.specia-pro-view .right-col-block .nav-tabs .nav-link { color: #fff; border-radius: 0; text-transform: uppercase; font-size: 16px; border: none; padding: 15px 25px; position: relative; }
@media (max-width: 1200px) { .specia-pro-view .right-col-block .nav-tabs .nav-link { padding: 15px; } }
@media (max-width: 768px) { .specia-pro-view .right-col-block .nav-tabs .nav-link { font-size: 12px; } }
@media (max-width: 576px) { .specia-pro-view .right-col-block .nav-tabs .nav-link { font-size: 9px; padding: 0 4px; } }
.specia-pro-view .right-col-block .nav-tabs .nav-link:after { content: ""; position: absolute; height: 65%; width: 1px; right: 0; background: #fff; top: 8px; }
@media (max-width: 576px) { .specia-pro-view .right-col-block .nav-tabs .nav-link:after { height: 50%; top: 5px; } }
.specia-pro-view .right-col-block .nav-tabs .nav-link:hover { color: #e57125; }
.specia-pro-view .right-col-block .nav-tabs li:first-child a { border-radius: 5px 0 0 0; }
.specia-pro-view .right-col-block .nav-tabs li:last-child a { border-radius: 0 5px 0 0; }
.specia-pro-view .right-col-block .nav-tabs li:last-child a:after { display: none; }
.specia-pro-view .right-col-block .nav-tabs .nav-item.show .nav-link, .specia-pro-view .right-col-block .nav-tabs .nav-link.active { color: #e57125; background-color: #f3f3f4; }
.specia-pro-view .right-col-block .tab-content h5 { color: #e57125; font-weight: 600; }
.specia-pro-view .right-col-block .tab-content h6 { font-weight: 600; color: #4a5566; }
.specia-pro-view .block-right-one ul { color: #020202; margin-left: 20px; }
.specia-pro-view .block-right-one ul li i { color: #e57125; font-size: 10px; margin-right: 10px; }
.specia-pro-view .map-block .social-block li { display: inline-block; }
.specia-pro-view .fee-payments-block .head-top span { font-weight: 700; margin-right: 10px; }
.specia-pro-view .fee-payments-block .payments-block-bottom { margin-top: 10px; }
.specia-pro-view .fee-payments-block .payments-block-bottom > div { position: relative; }
.specia-pro-view .fee-payments-block .payments-block-bottom > div label { display: inline-block; background: white; margin: 0; position: relative; z-index: 1; }
.specia-pro-view .fee-payments-block .payments-block-bottom > div span { font-weight: 700; background: #ffffff; display: inline-block; position: relative; z-index: 1; padding-left: 10px; }
.specia-pro-view .fee-payments-block .payments-block-bottom > div:after { content: ""; position: absolute; left: 0; width: 100%; border-bottom: 2px dotted; bottom: 5px; }
.specia-pro-view .gmap_canvas iframe#gmap_canvas { width: 100%; }
.specia-pro-view .map-right-block .addres-block label { display: block; }
.specia-pro-view .map-right-block .social-block { margin-bottom: 20px; }
.specia-pro-view .map-right-block .social-block a { font-size: 20px; }
.specia-pro-view .map-right-block .social-block li { margin-right: 5px; }
.specia-pro-view .map-right-block .social-block li:nth-child(1) a { color: #114f5c; }
.specia-pro-view .map-right-block .social-block li:nth-child(2) a { color: #0c5394; }
.specia-pro-view .map-right-block .social-block li:nth-child(3) a { color: #0c353c; }
.specia-pro-view .map-right-block .social-block li:nth-child(4) a { color: #990c2a; }
.specia-pro-view .map-right-block .social-block li:last-child { margin-right: 0; }
.specia-pro-view .site-link-block span { color: #e57125; font-size: 15px; }
.specia-pro-view .site-link-block span:nth-child(1) { font-weight: 600; }
.specia-pro-view .map-button-block { margin-top: 50px; }
@media (max-width: 576px) { .specia-pro-view .map-button-block .btn { font-size: 14px; } }
@media (max-width: 768px) { .specia-pro-view .review-block .review-block-top .review-star-text { font-size: 11px; } }
@media (max-width: 576px) { .specia-pro-view .review-block .review-block-top .review-star-text { margin-left: 0 !important; } }
.specia-pro-view .review-block .review-block-top .review-star-text span:last-child { color: #e57125; }
@media (max-width: 768px) { .specia-pro-view .review-block .review-block-top .button-block .btn { font-size: 11px; } }
.specia-pro-view .review-block .review-block-bottom { margin-top: 30px; }
.specia-pro-view .review-block .review-left .rating-block { margin-bottom: 15px; display: block; }
.specia-pro-view .review-block .review-left li span { font-weight: 600; }
.specia-pro-view .review-block .review-right h5 { color: #4a5566; font-size: 18px; }
.specia-pro-view .endorsements-block .top-block span { color: #e57125; }
@media (max-width: 576px) { .specia-pro-view .endorsements-block .top-block .endorsements-text { margin-left: 0 !important; } }
.specia-pro-view .endorsements-block .bottom-block { margin-top: 40px; }
.specia-pro-view .endorsements-block .bottom-block .endorsements-right h6 a { color: #e57125; }
.specia-pro-view .endorsements-block .bottom-block .endorsements-right p { margin-top: 10px; }

/*@media (max-width: 768px) { .sidebar_stop #sticky_sidebar.is-affixed { position: static !important; } }*/
/*.sidebar_stop #sticky_sidebar.is-affixed .stick_150 { left: 352px !important; }*/
/*@media (min-width: 1201px) and (max-width: 1366px) { .sidebar_stop #sticky_sidebar.is-affixed .stick_150 { left: 128px !important; } }*/
/*@media (max-width: 1200px) { .sidebar_stop #sticky_sidebar.is-affixed .stick_150 { left: 32px !important; } }*/
/*@media (max-width: 992px) { .sidebar_stop #sticky_sidebar.is-affixed .stick_150 { left: 40px !important; top: -196px !important; } }*/
/*@media (max-width: 768px) { .sidebar_stop #sticky_sidebar.is-affixed .stick_150 { position: static !important; } }*/

/*---------------------- Specialist Profile View CSS Ends ----------------------*/

/*---------------------- premium_listing.html CSS Starts ----------------------*/
.search-result {
  margin-bottom: 10px;
  color: #262626;
  font-size: 13px; }
  .search-result ul {
    margin-bottom: 0; }
  .search-result .puser-left h6 {
    color: #020202;
    font-size: 14px;
    font-weight: 700; }
  .search-result .puser-left .user-address {
    font-size: 13px; }
    .search-result .puser-left .user-address h6 {
      font-size: 13px; }
  .search-result .puser-right {
    display: flex;
    justify-content: space-between; }
    .search-result .puser-right .puser-right-left {
      text-align: right; }
      @media (max-width: 576px) {
        .search-result .puser-right .puser-right-left {
          text-align: left;
          margin: 10px 0; } }
      .search-result .puser-right .puser-right-left > span i {
        color: #01af36;
        margin-right: 5px; }
    .search-result .puser-right .puser-right-right {
      font-size: 16px; }
      .search-result .puser-right .puser-right-right i {
        color: #124563; }
      .search-result .puser-right .puser-right-right.fill-heart i {
        color: #fb0303; }
    .search-result .puser-right .no-fill-heart i {
      color: #ccc; }
  .search-result .rating .stars {
    display: inline-block; }
  .search-result .rating ul li {
    display: inline-block; }
    .search-result .rating ul li i {
      color: #fc9835; }
  .search-result .rating span {
    color: #008cc9;
    font-size: 13px; }
    @media (max-width: 992px) {
      .search-result .rating span {
        display: block; } }
  .search-result .pre-list-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 576px) {
      .search-result .pre-list-footer {
        margin-top: 0; } }
    .search-result .pre-list-footer ul li {
      display: inline-block; }
      .search-result .pre-list-footer ul li:last-child {
        margin-left: 0; }
    .search-result .pre-list-footer .social-block li {
      margin-right: 5px; }
      .search-result .pre-list-footer .social-block li a {
        font-size: 16px; }
        .search-result .pre-list-footer .social-block li a.fb {
          color: #114f5c; }
        .search-result .pre-list-footer .social-block li a.twitter {
          color: #0c5394; }
        .search-result .pre-list-footer .social-block li a.link {
          color: #0c353c; }
        .search-result .pre-list-footer .social-block li a.insta {
          color: #990c2a; }
    .search-result .pre-list-footer .appoiment-ul {
      margin: 0 15px; }
      @media (max-width: 768px) {
        .search-result .pre-list-footer .appoiment-ul {
          margin: 10px 0; } }
      .search-result .pre-list-footer .appoiment-ul li a {
        color: #008cc9;
        font-size: 14px;
        margin-right: 10px; }
        .search-result .pre-list-footer .appoiment-ul li a i {
          margin-right: 10px; }
    .search-result .pre-list-footer .button-block .btn {
      font-size: 13px;
      padding: 5px 10px; }
      .search-result .pre-list-footer .button-block .btn i {
        margin-right: 10px; }
  .search-result .premium-listing {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px; }
    @media (max-width: 768px) {
      .search-result .premium-listing .media {
        display: block; } }
    @media (max-width: 768px) {
      .search-result .premium-listing .media .media-body {
        margin-top: 10px; } }
    .search-result .premium-listing .description p {
      margin: 5px 0 0; }
    .search-result .premium-listing .description span {
      font-style: italic;
      font-weight: 600; }
  .search-result .sponsored-user {
    background-color: #e9f1fd;
    border: 1px solid #999; }
    @media (max-width: 768px) {
      .search-result .sponsored-user {
        margin-bottom: 10px; } }
    @media (max-width: 992px) {
      .search-result .sponsored-user .media {
        display: block; } }
    @media (max-width: 992px) {
      .search-result .sponsored-user .media .media-body {
        margin-top: 15px; } }
    .search-result .sponsored-user .puser-right {
      display: block; }
      .search-result .sponsored-user .puser-right .sponsered {
        text-transform: uppercase;
        font-weight: 600;
        color: #008cc9; }
      .search-result .sponsored-user .puser-right .cell-no {
        color: #1a3b84;
        font-weight: 600;
        font-size: 15px; }
    .search-result .sponsored-user .description {
      font-style: italic; }
    .search-result .sponsored-user .pre-list-footer {
      justify-content: space-between; }
      @media (max-width: 576px) {
        .search-result .sponsored-user .pre-list-footer {
          display: block; } }
    .search-result .sponsored-user .sedul-ul ul li {
      margin-right: 20px; }
      .search-result .sponsored-user .sedul-ul ul li i {
        margin-right: 5px; }
      .search-result .sponsored-user .sedul-ul ul li a {
        color: #000; }
        .search-result .sponsored-user .sedul-ul ul li a.status-onoff {
          color: #999;
          text-transform: uppercase;
          font-weight: 600; }
          .search-result .sponsored-user .sedul-ul ul li a.status-onoff.online {
            color: #01af36; }
    .search-result .sponsored-user .button-block .btn {
      font-size: 13px;
      padding: 5px 50px; }
      @media (max-width: 992px) {
        .search-result .sponsored-user .button-block .btn {
          padding: 5px 10px; } }
      .search-result .sponsored-user .button-block .btn i {
        margin-right: 10px; }
  .search-result .breadcum {
    margin-top: 20px; }
    .search-result .breadcum ul li {
      display: inline-block; }
      .search-result .breadcum ul li a {
        border-right: 1px solid #888;
        text-transform: capitalize;
        padding: 0 10px; }
        .search-result .breadcum ul li a.active {
          text-decoration: underline; }
      .search-result .breadcum ul li:first-child a {
        padding-left: 0; }
      .search-result .breadcum ul li:last-child a {
        padding-right: 0;
        border-right: none; }
  .search-result h1 {
    margin: 20px 0; }
  .search-result .search-result-bottom .card {
    border-radius: 0; }
  .search-result .search-result-bottom .left-bottom .card {
    background: #faeebc; }
  @media (max-width: 768px) {
    .search-result .search-result-bottom .right-bottom {
      margin-top: 10px; } }
  .search-result .search-result-bottom .right-bottom .card {
    background: #f5f5f5; }
    .search-result .search-result-bottom .right-bottom .card .card-header {
      font-size: 15px;
      border-bottom-color: #999; }
  .search-result .search-result-bottom .search-result-block {
    margin-bottom: 10px; }
    @media (max-width: 768px) {
      .search-result .search-result-bottom .search-result-block .pre-list-footer {
        display: block; } }

/*---------------------- premium_listing.html CSS Ends ----------------------*/

/*# sourceMappingURL=stylesheet.css.map */


/*---------------------- message-popup.html CSS Starts ----------------------*/
.exampleModal .modal-dialog {
  max-width: 830px; }
.exampleModal .modal-content {
  border: 3px solid #e57026;
  border-radius: 0;
  position: relative; }
.exampleModal .modal-content .modal-header .close {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1; }
@media (max-width: 576px) {
  .exampleModal .modal-content .modal-body .media {
    display: block;
    text-align: center; } }
@media (max-width: 576px) {
  .exampleModal .modal-content .modal-body .media .media-body {
    text-align: left; } }
.exampleModal .modal-content .img-status {
  position: relative; }
@media (max-width: 576px) {
  .exampleModal .modal-content .img-status {
    display: inline-block;
    margin-bottom: 20px; } }
.exampleModal .modal-content .img-status .status {
  position: absolute;
  bottom: 2px;
  height: 18px;
  width: 18px;
  right: 25px;
  border-radius: 100px;
  border: 1px solid #ccc; }
.exampleModal .modal-content .img-status .status.online {
  background: #01b237; }
.exampleModal .modal-content .popup-head h5 {
  font-size: 20px;
  color: #030303;
  font-weight: 600; }
.exampleModal .modal-content .popup-head p {
  font-size: 14px;
  color: #333;
  margin-bottom: 0; }
.exampleModal .modal-content form > .form-group label {
  text-align: right;
  display: block;
  margin-bottom: 0; }
.exampleModal .modal-content form > .form-group .form-control {
  border: 2px solid #ccc;
  border-radius: 0; }
.exampleModal .modal-content form > .form-group.cell-no input {
  width: 280px; }
@media (max-width: 576px) {
  .exampleModal .modal-content form > .form-group.cell-no input {
    width: 270px; } }
.exampleModal .modal-content form .best-call {
  display: flex; }
@media (max-width: 576px) {
  .exampleModal .modal-content form .best-call {
    display: block; } }
.exampleModal .modal-content form .best-call > label {
  font-size: 14px;
  margin-right: 15px; }
@media (max-width: 576px) {
  .exampleModal .modal-content form .best-call > label {
    display: block; } }
.exampleModal .modal-content form .best-call .custom-checkbox {
  margin-right: 15px; }
@media (max-width: 576px) {
  .exampleModal .modal-content form .best-call .custom-checkbox {
    display: block; } }
.exampleModal .modal-content form .best-call .custom-checkbox:last-child {
  margin-right: 0; }
.exampleModal .modal-content form .custom-checkbox {
  margin-bottom: 15px; }
.exampleModal .modal-content form .custom-checkbox label {
  font-size: 14px; }
.exampleModal .modal-content form .custom-checkbox label:before {
  border-radius: 0;
  border: 2px solid #ccc; }

/*---------------------- message-popup.html CSS Ends ----------------------*/

